:root {
    --text: #000;
    --background: #fefcfb;
    --primary: #5ed99c;
    --secondary: #ffcc80;
    --accent: #8be284;
    --white: #fff;
    --input-border: #ccc;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    text-decoration: none;
}