/* Contact Section */
.contact-form-section {
    padding: 60px 20px;
    background-color: var(--light-gray);
    text-align: center;
}

.contact-form-section h2 {
    font-size: 36px;
    color: var(--primary);
    margin-bottom: 40px;
}

.contact-form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.contact-form-box,
.contact-form-info {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background-color: var(--white);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form-box:hover,
.contact-form-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.contact-form-box h3,
.contact-form-info h3 {
    font-size: 28px;
    color: var(--primary);
    margin-bottom: 20px;
}

/* Contact Form Input Fields */
.contact-form-box input,
.contact-form-box textarea,
.contact-form-box select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Border effect on focus */
.contact-form-box input:focus,
.contact-form-box textarea:focus,
.contact-form-box select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}

/* Styling for the dropdown */
.contact-form-box select {
    appearance: none;
    background-color: var(--white);
    cursor: pointer;
}

.contact-form-submit-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form-submit-btn:hover {
    background-color: var(--secondary);
}

.contact-form-info p {
    font-size: 16px;
    color: var(--outer-space);
    margin-bottom: 10px;
}

.contact-form-google-map {
    margin-top: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
    .contact-form-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-form-box,
    .contact-form-info {
        max-width: 100%;
    }
}